[Unit]
Description=Prodeo AWS Service
Documentation=
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/prodeo/aws-iot/certs/
Type=simple
ExecStart=sudo ./start.sh
User=pi

[Install]
WantedBy=multi-user.target