[Unit]
Description=Prodeo AWS Service
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/Prodeo/AWS/
Type=simple
ExecStart=sudo ./start.sh
User=pi

[Install]
WantedBy=multi-user.target